<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>任务 - Collector by xiaze</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.3/dist/css/bootstrap-theme.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.3/examples/theme/theme.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Collector</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/submit">任务</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>欢迎您, 尊贵的{{ student.name }}。</h1>
            <p>当前时间: {{ now }}。</p>
            <p>当前总进度: {{ progress | round(2) }}%。</p>
        </div>
        <div class="col-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>作业名称</th>
                        <th>当前状态</th>
                        <th>截止日期</th>
                        <th>剩余时间</th>
                        <th>🐴↑提交</th>
                        <th>总完成率</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in missions_status %}<tr>
                        <td>{{ item.mission.name }}</td>
                        <td>{{ item.status.value }}{% if item.submitted %}(于{{ item.sub_time }}, {{
                            item.sub_size.human_readable() }}){% endif %}</td>
                        <td>{{ item.mission.deadline }}</td>
                        <td>{{ item.remain }}</td>
                        <td><a href="/submit/{{ item.mission.mission_url }}">{% if not item.avaliable %}不用交了 好耶!{% else
                                %}点我提交!</a>{% endif %}</td>
                        <td>{{ item.finish_rate | round(2) }}%</td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>

</html>
