<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>提交 - Collector by xiaze</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.3/dist/css/bootstrap-theme.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.3/examples/theme/theme.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Collector</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/submit">任务</a></li>
                    <li class="active"><a href="/submit/{{ mission_status.mission.mission_url }}">提交</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if info %}<div class="alert alert-info" role="alert">
            {{ info }}
        </div>{% endif %}
        <div class="jumbotron">
            <h1>您好，{{ mission_status.student.name }}。</h1>
            <h2>您正在提交的是 {{ mission_status.mission.name }}。</h2>
            <h2>当前状态: {% if mission_status.status.value == '已锁定' %}<span class="label label-success">{% endif %}
                    {% if mission_status.status.value == '已提交' %}<span class="label label-info">{% endif %}
                        {% if mission_status.status.value == '未提交' %}<span class="label label-danger">{% endif %}
                            {{ mission_status.status.value }}</span>。</h2>
            <p>当前时间: {{ now }}。</p>
            <p>截止时间: {{ mission_status.mission.deadline }}。</p>
            <p>剩余时间: {{ mission_status.remain }}。</p>
        </div>
        {% if mission_status.mission.description %}
        <div class="well">
            <p>{{ mission_status.mission.description }}</p>
        </div>{% endif %}
        {% if mission_status.submitted %}<div class="well">
            <p>您已提交过了一个文件。</p>
            <p>文件大小为{{ mission_status.sub_size.human_readable() }}。</p>
            <p>提交时间为{{ mission_status.sub_time }}。</p>
        </div>{% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">提交文件</h3>
            </div>
            <div class="panel-body">
                {% if mission_status.avaliable %}
                <p>您仅可提交{{ mission_status.mission.ext }}文件。</p>
                <p>文件大小最大为{{ mission_status.mission.size.human_readable() }}。</p>
                <form action="/submit/{{ mission_status.mission.mission_url }}" method="post"
                    enctype="multipart/form-data"></form>
                <p>选择文件: <input type="file" name="file" accept=".{{ mission_status.mission.ext }}" /></p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
                {% else %}
                <p>当前任务已不可提交。</p>
                {% endif %}
            </div>
        </div>

        {% if mission_status.status.value == '已提交' %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">锁定文件</h3>
            </div>
            <div class="panel-body">
                <a href="/lock/{{ mission_status.mission.mission_url }}"><button type="button"
                        class="btn btn-lg btn-danger">点我锁定文件</button></a>
                <p>警告: 锁定文件后您将无法再次提交。逾期后文件未锁定的文件将自动锁定，所以无需担心。</p>
            </div>
        </div>
        {% endif %}

        {% if mission_status.submitted %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">校验信息</h3>
            </div>
            <div class="panel-body">
                <iframe width="100%" height="1080px" name="check"
                    src="/check/{{ mission_status.mission.mission_url }}"></iframe>
            </div>
        </div>
        {% endif %}

    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>

</html>
